<head>
<style> * { border: 1px solid red; } </style>
</head>
<body>
  <div class="container-fluid">
    <img [attr.src]="server+world.logo" />

    <div class="row">
      <div class="col-md-4">Entete1</div>
      <div class="col-md-4"></div>
      <div class="col-md-4">{{world.name}}</div> 
    </div> <div class="row"> 
        <div class="col-md-4">Entete1</div>
        <div class="col-md-4"></div>
        <div class="col-md-4">Entete3</div>
    </div> 
  </div>
  <app-product [prod]="world.products.product[0]" class="product col-md-6"></app-product>
</body>


<!--The content below is only a placeholder and can be replaced.-->


